:root {
	--bg-1: hsl(0, 0%, 0%);
	--bg-2: hsl(0, 0%, 6%);
	--bg-3: hsl(0, 0%, 12%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	background-color: var(--bg-1);
}
