:root {
	--bg-1: hsl(0, 0%, 10%);
	--bg-2: hsl(0, 0%, 20%);
	--bg-3: hsl(0, 0%, 30%);

	--border-1: hsl(0, 0%, 40%);
	--border-2: hsl(0, 0%, 50%);
	--border-3: hsl(0, 0%, 60%);

	--text-1: hsl(0, 0%, 90%);
	--text-2: hsl(0, 0%, 80%);
	--text-3: hsl(0, 0%, 70%);

	--primary-1: hsl(300, 50%, 40%);
	--secondary-1: hsl(180, 100%, 50%);

	--warn: hsl(50, 100%, 75%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	font-family: "Inter Variable", system-ui;
}

body {
	background-color: var(--bg-1);
}
